<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Spring Boot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#about"
                th:href="@{/listar}">Cliente</a></li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <div *ngIf="estaAutenticado; then content else otherContent"></div>
            <ng-template #content>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item btn btn-outline-primary" (click)="logout()">Sign Out</a>
                    </div>
                </li>
                <!-- <li><a class="btn btn-outline-primary" (click)="logout()">Sign Out</a></li> -->
            </ng-template>
            <ng-template #otherContent>
                <li><a
                class="btn btn-outline-primary" [routerLink]="['/login']">Sign In</a></li>
            </ng-template>

<!--             <li *ngIf="!estaAutenticado"><a
                class="btn btn-outline-primary" [routerLink]="['/login']">Sign In</a></li>

            <li *ngIf="estaAutenticado" class="dropdown show">
                <a class="btn btn-outline-primary dropdown-toggle" href="#"
                    role="button" id="dropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><span></span></a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <form id="logoutForm" action="logout()" method="post">
                        <button class="dropdown-item" onclick="document.getElementById('logoutForm').submit();" type="submit">Sign Out</button>
                    </form>
                    
                </div>
            </li> -->
        </ul>
    </div>
</nav>

<!-- <div class="alert alert-success" th:if="${success != null}"
    th:text="${success}"></div>
<div class="alert alert-danger" th:if="${error != null}"
    th:text="${error}"></div>
<div class="alert alert-warning" th:if="${warning != null}"
    th:text="${warning}"></div>
<div class="alert alert-info" th:if="${info != null}"
    th:text="${info}"></div> -->
